/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
    width: 300px; /* Largeur fixée pour mieux contrôler les images */
    height: 300px; /* Hauteur pour les cartes */
    perspective: 1000px; /* Pour un effet 3D plus naturel */
}

/* Carte d'invitation */
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out; /* Effet de retournement plus fluide */
}

.card-img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Cache l'autre côté pendant le retournement */
}

/* Pour cacher les cartes du début */
.henne-card {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#download-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

#download-button:hover {
    background-color: #2980b9;
}
