/* Centrage général */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Conteneur de la carte */
.card-container, .henne-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

/* Image de la carte */
.card-img, .henne-img {
    max-width: 100%; /* Empêche l'image de dépasser la largeur de l'écran */
    max-height: 100%; /* Empêche l'image de dépasser la hauteur de l'écran */
    object-fit: contain; /* Maintient les proportions de l'image */
}

#download-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    display: none; /* Caché au début */
}

#download-button:hover {
    background-color: #2980b9;
}
