/* Centrage et taille générale de la page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Couleur de fond pour contraste */
}

/* Conteneur centré */
.card-container {
    max-width: 100vw; /* Limite à la largeur de la fenêtre */
    max-height: 100vh; /* Limite à la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image de la carte */
.card-img {
    max-width: 100%; /* Limite à 100% de la largeur de la fenêtre */
    max-height: 100%; /* Limite à 100% de la hauteur de la fenêtre */
    object-fit: contain; /* S'assure que l'image ne déborde pas et garde ses proportions */
}
